# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
.env*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# GitHub Actions local
.github/workflows/*.tmp

# Project planning notes
NEXSTEPS
